! Font
XTerm.vt100.faceName: SauceCodePro Nerd Font Mono:size=11:antialias=true
! Colors
XTerm.vt100.background: black
XTerm.vt100.foreground: white
XTerm.vt100.selectToClipboard: true
! Scroll
XTerm.vt100.saveLines: 65536
! Full color support
XTerm.termName: xterm-256color
! Right backspace code
XTerm.vt100.backarrowKey: false
XTerm.ttyModes: erase ^?
! Off scrol bar
XTerm.vt100.scrollBar: false
